<h2>Disfruta de cientos de juegos de alta calidad</h2>
<section>
    <div>
        <img src="/assets/Imagenes/gold.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assets/Imagenes/eaplay.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assets/Imagenes/mando.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assets/Imagenes/descarga.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assets/Imagenes/recompensa.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assets/Imagenes/nuevos.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
</section>

<app-galeria></app-galeria>