<h2>Disfruta de cientos de juegos de alta calidad</h2>
<section>
    <div>
        <img src="/assests/imagenes/.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assests/imagenes/.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assests/imagenes/.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assests/imagenes/.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assests/imagenes/.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
    <div>
        <img src="/assests/imagenes/.svg" alt="">
        <p>Xbox Live Gold incluido</p>
    </div>
</section>

<app-galeria></app-galeria>