<section>
    <img src="/assets/Imagenes/fifa.jpg" alt="">
    <img src="/assets/Imagenes/deadspace.jpg" alt="">
    <img src="/assets/Imagenes/farcry6.jpg" alt="">
    <img src="/assets/Imagenes/gta.jpg" alt="">
    <img src="/assets/Imagenes/reddead.jpg" alt="">
    <img src="/assets/Imagenes/warzone2.jpg" alt="">
    <img src="/assets/Imagenes/jedi.jpg" alt="">
    <img src="/assets/Imagenes/forhonor.jpg" alt="">
    <img src="/assets/Imagenes/origins.jpg" alt="">
    <img src="/assets/Imagenes/btf5.jpg" alt="">
    <img src="/assets/Imagenes/mortal.jpg" alt="">
    <img src="/assets/Imagenes/crysis.jpg" alt="">
</section>